import(Hmisc)
import(lattice)
import(latticeExtra)
import(rms)

export(Merge)
export(accrualReport)
export(dNeedle)
export(dReport)
export(eReport)
export(endPlot)
export(exReport)
export(getgreportOption)
export(putFig)
export(sampleFrac)
export(setgreportOption)
export(startPlot)
export(survReport)
export(upFirst)
