export(Merge)
export(accrualReport)
export(dNeedle)
export(dReport)
export(eReport)
export(endPlot)
export(exReport)
export(getgreportOption)
export(nriskReport)
export(putFig)
export(sampleFrac)
export(setgreportOption)
export(startPlot)
export(survReport)
export(upFirst)
import(Hmisc)
import(data.table)
import(lattice)
import(latticeExtra)
importFrom(Formula,Formula)
importFrom(Formula,model.part)
importFrom(rms,npsurv)
importFrom(rms,survplot)
importFrom(survival,Surv)
importFrom(survival,survfit)
